<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>管理端登录</title>
    <link rel="stylesheet" href="./css/pintuer.css">
    <link rel="stylesheet" href="./css/admin.css">
    <script src="./js/vuejs-2.5.16.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
</head>
<body>
<div class="bg"></div>
<div class="container" id="app">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form>
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top"><h1>黑马影视后台管理中心</h1></div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="username"
                                       placeholder="请输入账户" v-model="username"/>
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="password"
                                       placeholder="请输入密码" v-model="password"/>
                                <span class="icon icon-check margin-small"></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;">
                        <input type="button" @click="login()" class="button button-block bg-main text-big input-big"
                               value="登录">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            username: "",//账号
            password: "",//密码
        },
        methods: {
            //登录
            login() {
                axios.get('/admin/user/login', {
                    params: {
                        "username": this.username,
                        "password": this.password
                    }
                }).then(resp => {
                    if (resp.data.code == "0") {
                        alert("用户名或者密码有误");
                    } else {
                        //将token保存
                        localStorage.setItem("token", resp.data.token);

                        //跳转主页
                        location.href = "./index.html";
                    }
                })
            }
        },
    })
</script>
</body>
</html>
